/* General Styles */
body {
 font-family: 'Open Sans', sans-serif;
 font-size:100%;
 padding: 0;
 margin: 0;
 font-weight:300;
}

/* Typography */
h1,h2,h3,h4,h5 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color:#fff;
}

h1 {
  font-size:3rem;
}

h2 {
  font-size:1.7rem;
}

h3 {
  font-size:1.5rem;
}

/* Header */
